<html>
	<head>
		<title>fp</title>
	</head>
	<body>
	<form action="/forpass" method="post">
		<input type="email" name="email" placeholder="enter email">
		<input type="submit">
	</form>
	</body>
</html>